body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 15px;
}

.button {
    border: 1px solid #c0c0c0;
    width: 250px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.button:hover, .button:active {
    background-color: #efefef;
    border-color: #000;
}